@model HiQo.StaffManagement.Core.ViewModels.UserViewModel
@{
    ViewBag.Title = "Update";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <text>@Model.FirstName @Model.LastName</text>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Creation", "User", new {obj = Model}, FormMethod.Post))
        {
            @Html.HiddenFor(g => g.UserId)
            <p>
                <text>First Name:@Html.EditorFor(g => g.FirstName, new {htmlAttributes = new {@class = "form-control"}})</text>
            </p>
            <p>
                <text>Last Name:@Html.EditorFor(g => g.LastName, new {htmlAttributes = new {@class = "form-control"}})</text>
            </p>
            <p>
                <text>BirthDate: @Html.TextBoxFor(g => g.BirthDate, new {Value = Model.BirthDate.ToShortDateString(), @class = "form-control"})</text>
            </p>
            <hr class="dividing-line" />
            <p>
                <text>Phone number:@Html.EditorFor(g => g.MainPhoneNumber, new {htmlAttributes = new {@class = "form-control"}})</text>
            </p>
            <p>
                <text>Email: @Html.EditorFor(g => g.Email, new {htmlAttributes = new {@class = "form-control"}})</text>
            </p>
            <hr class="dividing-line" />
            <text>Department:@Html.DropDownListFor(model => model.CurrentDepartmentId, new SelectList(Model.DictionaryOfDepartments, "key", "value"),
                                 "---Please select a department---", new {@class = "form-control"}) </text>
            <br/>
            <text>Category:
                @Html.DropDownListFor(model => model.CurrentCategoryId, new SelectList(Model.DictionaryOfCategories, "key", "value"),
                    "---Please select a category---", new {@class = "form-control"})</text>
            <br/>
            <text>Position:
                @Html.DropDownListFor(model => model.CurrentPositionId, new SelectList(Model.DictionaryOfPositions, "key", "value"),
                    "---Please select a position---", new {@class = "form-control"})</text>
            <br/>
            <text>Position level:
                @Html.DropDownListFor(model => model.CurrentPositionLevelId, new SelectList(Model.DictionaryOfPositionLevels, "key", "value"),
                    "---Please select a position level---", new {@class = "form-control"})</text>
            <br/>
            <text>Role:
                @Html.DropDownListFor(model => model.CurrentRoleId, new SelectList(Model.DictionaryOfRoles, "key", "value"),
                    "---Please select a role---", new {@class = "form-control"})</text>
            <br/>
      
            <input type="submit" class="btn btn-default" value="Update"/>
        }
    </div>
</div>